<div class="container">
	<%= form_tag :session, class: 'well, form-signin' do %>
	  <h3 class="form-signin-heading">Log In</h3>
	  <%= text_field_tag "login_id", "", placeholder: "Login id", class: 'input-block-level' %>
	  <%= password_field_tag "password", "", placeholder: "Password", class: "input-block-level" %>
	  <%= submit_tag "ログイン" , class: "btn btn-primary" %>

	  <div><%= link_to 'Sign up', new_user_path %></div>
	<% end %>

</div>