<li>
  <div class="slide-list-item-left">
    <div>
      <%= link_to(slide) do %>
        <%= image_tag 'http://wakamsha.github.io/greenmind/img/img3.jpg', class: 'slide-img-user-list' %>
      <% end %>
    </div>
  </div>
  <div class="slide-list-item-right">
    <div>
      <i data-placement="right" rel="tooltip" data-original-title="<%= sign_for_slide_kind( slide ) %>" class="<%= sign_for_slide_kind_class( slide ) %>"></i>
      <%= slide.user.name %>
    </div>
    <div class="slide-list-item-title">
      <%= link_to(slide) do %>
        <%= slide.title %>
      <% end %>
    </div>
  </div>
</li>
