<h1>Listing slides</h1>

<ul class="listview fluid">
<% @slides.each do |slide| %>
  <li>
  
    <div class="icon">
      <%= image_tag 'rails.png' %>
    </div>
    <div class="data" >
      kind:<%= sign_for_slide_kind( slide ) %>
      <br>use:<%= slide.user.name %>
      <br>title:<%= slide.title %>
      <br>description:<%= slide.description %>
      <br>image:<%= slide.image_url %>
      <br><%= link_to 'Show', slide %>
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Slide', new_slide_path %>
