<div class="page-content">
  <h1>Listing slides</h1>
  <ul class="listview fluid">
  <% @slides.each do |slide| %>
    <div class="image-container light">
      <%= link_to(slide) do %>
        <%= image_tag 'http://wakamsha.github.io/greenmind/img/img3.jpg' %>
      <% end %>
      <div class="overlay">
        <div class="slide-item-row">
          <i data-placement="right" rel="tooltip" data-original-title="<%= sign_for_slide_kind( slide ) %>" class="<%= sign_for_slide_kind_class( slide ) %>"></i>
          <%= link_to(user_path(slide.user)) do %>
            use:<%= slide.user.name %></div>
          <% end %>
        <div class="slide-item-row"><%= link_to slide.title, slide, class: "slide-item-title"%></div>
        <div class="slide-item-row"><%= slide.updated_at %></div>
      </div>
    </div>
  <% end %>
  </ul>
</div>
