<div class="page-content">
  <div class="show-left">
    <div id="preview-box">
      <div class="slide-view">
        <iframe id="preview" border="0" frameborder="0" src="<%= path_for_iframe( @slide ) %>">
        </iframe>
      </div>
    </div>

    <div class="button-view">
      <a class="prev btn btn-info" href="#">
        <i class="icon-backward"></i>
      </a>
      <a class="next btn btn-info" href="#">
        <i class="icon-forward"></i>
      </a>
      <a class="fullscrean btn btn-info" href="#">
          <i class="icon-fullscreen"></i>
      </a>
    </div>

    <div class="slide-info">
      <div class="slide-info-left">
        <%= image_tag @slide.user.image_url %>
      </div>
      <div class="slide-info-right">
        <div class="slide-info-title"><%= @slide.title %></div>
        <div class="slide-info-discription"><%= @slide.description %></div>
      </div>
    </div>

    

    <%= link_to 'Edit', edit_slide_path(@slide) %>
  </div>
  <div class="show-right">
    <div class="">
      <ul class="user-slide-list">
        <li>
          <%= link_to 'presentation', presentation_slide_path(@slide), class: 'btn' %>
        </li>

        <%  @slide.user.slides.each do |slide| %>
          <% if slide.title != @slide.title then %>
            <li>
              <%= link_to(slide, class: "slide-list-title") do %>
                <span>
                  <%= image_tag 'http://wakamsha.github.io/greenmind/img/img3.jpg', class: "slide-list-img"  %>
                </span>
                <span>
                  <%= slide.title %>
                </span>              
              <% end %>
            </li>
          <% end %>   
        <% end %>
      </ul>
    </div>
  </div>
</div>


