<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Twitter uid:</b>
  <%= @user.twitter_uid %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login_id %>
</p>


<ul class="listview fluid">
<% @user.slides.each do |slide| %>
  <li>
  
    <div class="icon">
      <%= image_tag 'rails.png' %>
    </div>
    <div class="data" >
      kind:<%= sign_for_slide_kind( slide ) %>
      <br>use:<%= slide.user.name %>
      <br>title:<%= slide.title %>
      <br>description:<%= slide.description %>
      <br>image:<%= slide.image_url %>
      <br><%= link_to 'Show', slide %>
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
