<p id="notice"><%= notice %></p>

<p>
  <%= image_tag convert_profile_url_to_the_origin_size( @user.image_url ) %>
</p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<h3>スライドたち</h3>
<ul class="listview fluid" id="published-slides">
</ul>
<% if @current_user && @current_user.id.to_s == params[:id] %>
  <h3>下書き</h3>
  <ul class="listview fluid" id="draft-slides">
  </ul>
<% end %>

<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= javascript_tag do %>
  $(document).ready( function(){
    window.Slides.loadPublishedSlidesOwnedBy( <%= @user.id %>  );
  });
<% end %>
<% if @current_user && @current_user.id.to_s == params[:id] %>
  <%= javascript_tag do %>
    $(document).ready( function(){
      window.Slides.loadDraftSlidesOwnedBy( <%= @user.id %>  );
    });
  <% end %>
<% end %>
