<!DOCTYPE html>
<html>
<head>
  <title>ImpressShareRails</title>
  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div id="wrap">
	<header class="navbar">
	  <%= render 'shared/header', current_user: @current_user %>
	</header>
	<%= yield %>
	<div id="push"></div>
</div>
<%= render 'shared/footer' %>
</body>
<script>
  $(function(){
    $('i[rel=tooltip]').tooltip();
    $('i[rel=popover]').popover();
  });
</script>
</html>
