<!DOCTYPE html>
<html>
<head>
  <title>ImpressShareRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar">
  <%= render 'shared/header', current_user: @current_user %>
</header>
<%= yield %>

</body>
<script>
  $(function(){
    $('i[rel=tooltip]').tooltip();
    $('i[rel=popover]').popover();
  });
</script>
</html>
